@import "src/assets/scss/vars.scss";

.card-item{
  background: #FFFFFF;
  &__title{
    color:$main;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
  }
  &__quantity{
    font-size:14px;
  }
  &__price{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #000000;
  }
  &__divider{
    height: 1px;
    background-color: rgba(196, 196, 196, 0.5);;
    border: none;
  }
  &__created-info{
    color: $grey;
    font-size: 13px;
  }
}